
*{
    background-color: chocolate;
}
.dice{
    height: 50vh;
    width: 480px;
    margin: auto;
    
}

.dice a{
    text-decoration: none;
    padding: 15px;
    background-color: rgb(182, 185, 116);
}
@media screen and (max-width: 1325px) {
    h3{
        background-color: rgb(218, 7, 7);
    }
    .dice{
        background-color: indigo;
        justify-content: left;
        display: flex;
        margin: 0px;
        
        
    }  
    .dice a{
        background-color: aquamarine;
       
    }
}


@media screen and (max-width: 1024px) {
    h3{
        background-color: rgb(255, 128, 55);
    }
    .dice{
        background-color: rgb(0, 255, 98);
        display:flex ; 
        justify-content: right;
        margin: auto;

    }
}




@media screen and (max-width: 600px) {
    h3{
        background-color: rgb(96, 185, 27);
    }
    
    }
      .dice{
        background-color: rgb(236, 99, 236);
      }
    }
}
