*{
   background-image: url(Screenshot\ 2025-12-10\ 215021.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
body{
   margin: 0px;
}
h1{
   text-align: center;
}
header {
   text-align: center;
   background-color: rgb(73, 100, 148);
   color: black;
}
nav{
    padding: 15px;
    text-align: center;
    text-decoration: ;
}
#a {
     text-decoration: none;
     padding: 25px;
      color: black;
}
#b {
     text-decoration: none;
      padding: 10px;
       color: black;
}
#c {
     text-decoration: none;
      padding: 15px;
       color: black;
}
#d {
     text-decoration: none;
      padding: 20px;
       color: black;
}
#button{
   font-size: 25px;
   
}